

<form id="AnnouncementForm">
    <h6 class="fs-15">Duyuru Ekle</h6>
    <div class="d-flex">
        <div class="flex-shrink-0">
            <i class="ri-checkbox-circle-fill text-success"></i>
        </div>
        <div class="flex-grow-1 ms-2">
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <label for="basiInput" class="form-label">Başlık</label>
                        <input type="text" class="form-control" name="Subject">
                    </div>
                    <div>
                        <label for="basiInput" class="form-label">Ad Soyad</label>
                        <textarea name="Detail" rows="5" class="form-control" ></textarea>
                    </div>
                </div>
            </div>


        </div>
    </div>
</form>