

<form id="userForm">
    <h6 class="fs-15">Kullanıcı Bilgileri</h6>
    <div class="d-flex">
        <div class="flex-shrink-0">
            <i class="ri-checkbox-circle-fill text-success"></i>
        </div>
        <div class="flex-grow-1 ms-2">
            <div class="row">
                <div class="col-md-6">
                    <div>
                        <label for="basiInput" class="form-label">Kullanıcı Adı</label>
                        <input type="text" class="form-control" name="UserName">
                    </div><div>
                        <label for="basiInput" class="form-label">Ad Soyad</label>
                        <input type="text" class="form-control" name="FullName">
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <label for="basiInput" class="form-label">Şifre</label>
                        <input type="password" class="form-control" name="PasswordHash">
                    </div><div>
                        <label for="basiInput" class="form-label">Email</label>
                        <input type="text" class="form-control" name="Email">
                    </div>
                </div>
            </div>


        </div>
    </div>
</form>