



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"] - BeyzanurDuzceEduTr</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Rubik:wght@500;600;700&display=swap"
          rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/Content/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/Content/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/Content/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/Content/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/Content/css/style.css" rel="stylesheet">
</head>

<body>

    <!-- Topbar Start -->
    <div class="container-fluid bg-dark px-0">
        <div class="row g-0 d-none d-lg-flex">
            <div class="col-lg-6 ps-5 text-start">
                <div class="h-100 d-inline-flex align-items-center text-white">
                    <a href style="color:aliceblue"="#">Personel</a><p> &nbsp </p>
                    <a href style="color:aliceblue"="#">Öğrenci</a><p> &nbsp </p>
                    <a href style="color:aliceblue"="#">Hastane</a><p> &nbsp </p>
                    <a href style="color:aliceblue"="#">Teknopark</a><p>&nbsp  </p>
                    <a href style="color:aliceblue"="#">Hızlı Erişim</a><p> &nbsp </p>
                    <a href style="color:aliceblue"="#">Galeri</a>
                </div>
            </div>
            <div class="col-lg-6 text-end">
                <div class="h-100 topbar-right d-inline-flex align-items-center text-white py-2 px-5">
                    <span class="fs-5 fw-bold me-2"><i class="fa fa-phone-alt me-2"></i>DÜ</span>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->
    <!-- Navbar Start -->
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top py-0 pe-5">
        <a href="index.html" class="navbar-brand ps-5 me-0">
            <h1 class="text-white m-0">
                <a href="#"><img src="~/Content/assets/images/companies/logo.jpg" width="100" height="100" alt="logo" /></a>
            </h1>
        </a>
        <button type="button" class="navbar-toggler me-0" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
               
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Üniversitemiz</a>
                    <div class="dropdown-menu bg-light m-0">
                        <a href="#" class="dropdown-item">Düzce </a>
                        <a href="#" class="dropdown-item">Kuruluş</a>
                        <a href="#" class="dropdown-item">Yönetim</a>
                        <a href="#" class="dropdown-item">Kurumsal Kimlik Klavuzu</a>
                        <a href="#" class="dropdown-item">Sayılarla DÜ</a>
                        <a href="#" class="dropdown-item">Sıralamalar</a>
                        <a href="#" class="dropdown-item">İlkler</a>
                        <a href="#" class="dropdown-item">Kurumsal Strateji</a>
                        <a href="#" class="dropdown-item">İdari Bilimler</a>
                        <a href="#" class="dropdown-item">Kampüs Yaşamı</a>
                        <a href="#" class="dropdown-item">İşbirlikleri</a>
                        <a href="#" class="dropdown-item">Tanıtım Filmler/Fotoğraf Galerisi</a>
                        <a href="#" class="dropdown-item">Yönetmelik Ve Yönergeler</a>
                        <a href="#" class="dropdown-item">Bilgi Güvenliği Politikamız</a>
                        
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Akademik</a>
                    <div class="dropdown-menu bg-light m-0">
                        <a href="#" class="dropdown-item">Fakülteler</a>
                        <a href="#" class="dropdown-item">Enstitüler</a>
                        <a href="#" class="dropdown-item">Yüksekokullar</a>
                        <a href="#" class="dropdown-item">Meslek Yüksekokulları</a>
                        <a href="#" class="dropdown-item">Kurullar</a>
                        <a href="#" class="dropdown-item">Bölüm Başkanlıkları</a>
                       
                    </div>
                </div>
                @*Örnek Div*@
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Araştırma</a>
                    <div class="dropdown-menu bg-light m-0">
                         <a href="#" class="dropdown-item">Araştırma Merkezi</a>
                        <a href="#" class="dropdown-item">Labaratuvar Envanteri</a>
                         <a href="#" class="dropdown-item">Yayınlar Projeler</a>
                        <a href="#" class="dropdown-item">Hakemli Dergiler</a>
                         <a href="#" class="dropdown-item">Teknoloji Transfer Ofisi</a>
                       
                    </div>
                </div>
                
               
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">İhtisaslaşma</a>
                    <div class="dropdown-menu bg-light m-0">
                    <a href="#" class="dropdown-item">Program Kapsamı</a>
                    <a href="#" class="dropdown-item">Tıbbi Bitki Yetiştiriciliği</a>
                    <a href="#" class="dropdown-item">Ürünler/Markalar</a>
                    <a href="#" class="dropdown-item">Üretim Merkezi</a>
                    <a href="#" class="dropdown-item">Geleneksel Ve Tamamlayıcı Tıp Faaliyetleri</a>
                    <a href="#" class="dropdown-item">Tarımsal Atıkların Geri Kazanımı Faaliyetleri</a>
                    <a href="#" class="dropdown-item">Arıcılık/Arı Ürünleri</a>
                    <a href="#" class="dropdown-item">Bilimsel Yayınlar</a>
                    <a href="#" class="dropdown-item">İşbirlikleri</a>
                    <a href="#" class="dropdown-item">Etkinlikler</a>

                    </div>
                </div>
                @*Örnek Div*@

            </div>
            <a href="@this.Url.Action("Login", "Home")" class="btn btn-primary"" px-3 d-none d-lg-block">Yönetici Girişi</a>
        </div>
    </nav>
    <!-- Navbar End -->
    @RenderBody()
    <!-- Footer Start -->
    <div class="container-fluid bg-dark footer mt-5 py-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h5 class="text-white mb-4">Düzce Üniversitesi Konuralp Yerleşkesi</h5>
                    <p class="mb-2">
                        <i class="fa fa-map-marker-alt me-3"></i>

                        Düzce University Konuralp Campus<br />

                        81620 DÜZCE - TÜRKİYE<br />

                        TEL : 0850 800 81 81<br />

                        FAKS: 0380 542 11 03
                    </p>

                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->
    <!-- Copyright Start -->
    <div class="container-fluid copyright bg-dark py-4">
        <div class="container text-center">
            <p class="mb-2">
                Copyright &copy; <a class="fw-semi-bold" href="#">Düzce Üniversitesi</a>, All Right Reserved.
            </p>
            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
            <p class="mb-0">
                Designed By [ Beyzanur]
            </p>
        </div>
    </div>
    <!-- Copyright End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top">
        <i class="bi bi-arrow-up"></i>
    </a>
    <div id="modalPopup" class="modal" tabindex="-1" role="dialog" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/Content/js/bootstrap.bundle.min.js"></script>
    <script src="Content/lib/wow/wow.min.js"></script>
    <script src="Content/lib/easing/easing.min.js"></script>
    <script src="Content/lib/waypoints/waypoints.min.js"></script>
    <script src="Content/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="Content/lib/counterup/counterup.min.js"></script>

    <!-- Template Javascript -->
    <script src="Content/js/main.js"></script>
     
    @await RenderSectionAsync("Scripts", required: false)

   
</body>

</html>